*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: lightblue;
}

table{
    font-family: 'Rajdhani', sans-serif;
    border-collapse: collapse;
    border: 1px solid;
    background: linen;
    width: 30vw;
    overflow: auto;
}

th{ 
    width: 30vw;
    text-align: right;
    padding: 2vh 3vw;
}

#pre-cal{
    height: 8vh;
    color: slategray;
}

#cur-cal{
    height: 13vh;
    font-size: 8vh;
}

td{
    font-size: 5vh;
    padding: 2vh 3vw;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to bottom right , gray , darkgray);
    cursor: pointer;
}

@media screen and (max-width:650px){
    table{
        width: 90vw;
    }
}